
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, 
{
	display: block;
}

ol, ul 
{
	list-style: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
.header
{
	max-width:100%;
	height: 120px;
	margin:0 auto;
	background-color:#CAD5D7;
    border:2px solid #ffffff;
}
.container
{
	width: 1080px;
	margin: 0 auto;
}
.logo
{
	float:left;
	display:block;
	width:120px;
	height:120px;
}
.logo img{  
    float:left; 
    position:relative;
	width:100%;
	height:auto;
	padding-left:30px;
}
.menu
{
	float: right;
}
.menu ul li
{
	display: inline-block;
	padding: 33px 15px;
}
.menu ul li a
{
	float:right;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #4e4f4f;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	-webkit-transition: color 0.3s ease-in;
	-ms-transition: color 0.3s ease-in;
}
.menu ul li a:hover
{
	color: #1C97CA;
}
.banner
{
	background: #496183;
	width:100%;
	cursor: default;
	padding-top:30px;
	border-bottom:2px solid #ffffff;

}
.header-text
{
	text-align:center;
	color: #fff;
}
.big-text
{
	font-size: 30px;
	line-height: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.header-text h2
{
	font-size: 40px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	line-height: 60px;
}
.small-text
{
	width: 65%;
	margin: 0 auto;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 40px;
}
.small-text a
{
	color: #fff;
	border-bottom: 1px dotted #fff;
	text-decoration: none;
}
.button-section ul li
{
	display: inline-block;
	margin: 50px 20px;
}
.top-button
{
	
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}
.green
{	color: #fff;
	padding: 17px 30px;
	background-color: #64AE3C;
}
.white
{
	background-color: #fff;
	padding: 17px 30px;
	color: #4e4f4f;
}

.desc
{   background-color:#D94F66;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 80px 0px;
	border-bottom: 3px solid #ffffff;
}
.desc h2
{
	font-size: 30px;
	font-weight: 600;
	padding: 15px 0px;
	color:#ffffff;
}
.desc p
{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 85%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
}
.features
{   
	padding: 80px 0px;
	background-color: #24436d;
	float: left;
	width: 100%;
}
.features-section
{
	text-align: center;
}
h3.text-head
{
	color: #ffffff;
	font-size: 27px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-bottom:20px;
}
p.box-desc
{
	color: #888;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	line-height: 60px;
	text-align: center;
}
.features-section ul
{
	margin: 50px 0px;
	display:inline;
}
.features-section ul li
{
	width: 360px;
	display:block;
	text-align: center;
	float: left;
}
.feature-icon
{
	background:url(feature-icons.png) no-repeat;
	width: 60px;
	height: 60px;
	display: inline-block;
}
.icon1
{
	background-position: -1px -1px;
}
.icon2
{
	background-position: -68px -1px;
}
.icon3
{
	background-position: -136px -1px;
}
.features-section ul li h4
{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	line-height: 50px;
	margin-top: 20px;
}
.features-section ul li p
{
	color: #aab1bf;
	font-size: 16px;
	line-height: 20px;
	width:90%;
	margin: 0 auto;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	
}
.projects
{
	display:inline-block;
	padding: 80px 0px;
	width: 100%;
	background: #f1f1f1;
}
.backlink
{  
    display:block;
    padding-top:20px;
    text-align:center;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size:21px;
}

#contitle
{
	text-align:center;
	font-weight: 600;
        font-family: 'Raleway', sans-serif;
	font-size:40px;
	color:#125F80;
}
.projectintro
{   
    display:block;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    line-height:200%;
    text-align:left;
    background-color:#4088A0;
    color:#ffffff;
    padding:5px;
}
.uniproject,.travelproject 
{ 
	display:inline-block;
	width:100%;
	height:auto;
}
.enlarged img
{ 
	display:inline;
	max-width:100%;
	height:auto;
	margin:0 auto;
	padding:20px 0 20px 0;
	-moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
         box-shadow: 10px 10px 5px #888;
	 margin-right:5px;
}
	

.projects-section ul li
{  
        display:block;
	width: 318px;
	margin: 40px 100px 0px;
	border-radius: 5px;
	background-color: #fff;
	float: left;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
         box-shadow: 10px 10px 5px #888;
		
}
.projects-section ul li a
{
	text-decoration: none;

}
.project-img 
{  
        width:318px;
        text-align:center;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:#759CC1;
}
.project-img img
{
	width: 61px;
	height: auto;
	padding:20px;
	margin:0 auto;
}
.project-box
{   
	width:318px;
	height:141px;
        margin-left: auto;
        margin-right: auto;
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
	text-align: center;
	padding: 10px 0px 20px;

}
.project-box h4
{
	color: #4E4F4F;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 50px;
}
.project-box p
{  
	color: #888;
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	padding-left:10px;
	padding-right:10px;
}


section 
{
    display:inline-block;
    background-color: #496183;
    margin: 0 auto;
    padding: 10px;
}
.imageframe
{
	display:inline-block;
	margin:0px;
	padding-right:10px;
	padding-top:10px;
}
.imageframe img 
{
	
    max-width:100%;
    height: auto;
    border: 3px solid white;
    float: left;
    margin:100px 0 0 50px;
}
.info 
{
    float: right;
    width: 70%;
    height: auto;
    margin: 10px;
    padding-top: 10px;
}
.info p, .skills, #languages 
{
	color:#fff;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    line-height:200%;
}
.skills p
{
    color:#fff;
    font-family:'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    line-height:150%;
	
}
.skills p span
{
	font-weight:bold;
	font-size:19px;
}
#list
{
 text-indent:50px;	
}

.mycontent
{
	display:inline-block;
	
}
.mycontent ul
{
	margin-left:10px;
}
.imgcontent
{
    display:block;
    float:left;
    position:relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    padding:10px;
}

div.img-info 
{
  position:relative;
  display:block;
  text-align: center;
  padding: 10px 20px;
  margin:10px;
}

div.img-info p
{
	color:#007A99;
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	text-align:center;
	margin-top:5px;
	
}
.img-responsive 
{
	display:inline;
	float:left;
        text-decoration: none;
	max-height:200px;
        max-width:100%;
	margin: auto;
	padding:0px;
        border: 1px solid #ccc;
}
.img-responsive:hover 
{
    border: 1px solid #777;
}

#slideDiv1 
{
	color:#64AE3C;
	width:100%;
	height:auto;
	position:relative;
	padding-left:30px;
	font-size:18px;
	font-family: Arial,Helvetica,Sans-serif;
	line-height:150%;
}
#slideDiv1 ul li
{
	color:#fff;
	list-style-type: square;
}
#slideDiv2 
{
	font-weight:bold;
	color:#64AE3C;
	width:100%;
	height:auto;
	position:relative;
	padding:0px;
	font-size:18px;
	font-family: Arial,Helvetica,Sans-serif;
}
#toggle1, #toggle2,#toggle3
{
	display:inline-block;
	margin:10px;
	font-family: Arial,Helvetica,Sans-serif;
	font-size:25px;
	color:#CC3982;
	text-decoration:none;
	outline:none;
}

#toggle1,#toggle2,#toggle3 :hover
{
	color:#64AE3C;
}

.content
{
	position:relative;
	width:100%;
	height:auto;
}

#mycontent1,#mycontent2,#mycontent3
{
	display:none;
}
	
.content  ul li
{
	position:relative;
	width:100%;
	height:auto;
	margin: 0px auto;
	padding:40px 0;
}
.content  ul li img
{
	display:block;
	text-decoration:none;
	max-height:150px;
        max-width:100%;
        margin: 0px auto;
}


footer
{
	width: 100%;
	height:auto;
	background-color: #373A42;
	float: left;
	padding: 50px 0px;
	text-align: center;
}

ul.socialmedia 
{
	display:inline-block;
        list-style:none;
	text-align:center;
	
}
ul.socialmedia li 
{
    display:inline-block;
    margin: 20px 15px;
    color: #585c65;
    font-size: 26px;
    text-align:center;
	
}

ul.socialmedia li a 
{   
    color: #585c65;
    font-size: 26px;
    text-decoration: none;
}

i.icon-facebook 
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align:middle;
}
i.icon-facebook:hover 
{
    height: 100%;
    color: #3b5998;
}
i.icon-linkedin 
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align:middle;
    border:1px solid #000;
}
i.icon-linkedin:hover 
{
    height: 100%;
    color: #0e76a8;
}


.responsive-menu-button
{
	float: right;
	padding: 24px 0px;
	
}
#mobile-header 
{
    display: none;
}
